<h1>Listing tracks</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Duration</th>
    <th>Position</th>
    <th>Album</th>
    <th>Bonus</th>
    <th>Lyrics</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tracks.each do |track| %>
  <tr>
    <td><%= track.name %></td>
    <td><%= track.duration %></td>
    <td><%= track.position %></td>
    <td><%= track.album_id %></td>
    <td><%= track.bonus %></td>
    <td><%= track.lyrics %></td>
    <td><%= link_to 'Show', track %></td>
		<%if @current_user.admin%>
    <td><%= link_to 'Edit', edit_track_path(track) %></td>
    <td><%= link_to 'Destroy', track, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		<% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Track', new_track_path %>
