<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @track.name %>
</p>

<p>
  <b>Duration:</b>
	<% second_str = "#{@track.duration.sec}".rjust(2, "0") %>
  <%= "#{@track.duration.min}:#{second_str}" %>
</p>

<p>
  <b>Position:</b>
  <%= @track.position %>
</p>

<p>
  <b>Album:</b>
  <%= @track.album_id %>
</p>

<p>
  <b>Bonus:</b>
  <%= @track.bonus %>
</p>

<p>
  <b>Lyrics:</b>
  <%= ugly_lyrics(@track.lyrics) %>
</p>

<p>
  <b>Notes:</b>
  <% @track.notes.each do |note| %>
		<p><%= note.text%></p>
		<%if @current_usersid == note.user_id || @current_user.admin%>
		<table>
		<tr>
    <td><%= link_to 'Edit', edit_note_path(note) %></td>
    <td><%= link_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	  </tr>
	  </table>
		<%end%>
	<%end%>
</p>

<form action="<%=notes_url%>" method="POST">
	<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
	<input type="hidden" name="note[track_id]" value="<%=@track.id%>">
	<input type="hidden" name="note[user_id]" value="<%=@current_user.id%>">
	<textarea name="note[text]" id="note_text" placeholder="Enter a new note!">
	</textarea>
	<input type="submit" value="Submit">
</form>


<%= link_to 'Edit', edit_track_path(@track) %> |
<%= link_to 'Back', tracks_path %>
