<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @album.name %>
</p>

<p>
  <b>Band:</b>
  <%= Band.find(@album.band_id).name %>
</p>

<p>
  <b>Type:</b>
  <%= @album.album_type %>
</p>

<p>
  <b>Year:</b>
  <%= @album.year %>
</p>

<p>
	<b>Tracks</b>
  <ol>
	<% @album.tracks.each do |track| %>
	  <li> <%= track.name %> </li>
	<% end %>
  </ol>
</p>


<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %>
