<p id="notice"><%= notice %></p>

<p>
  <h1>Name: <%= @band.name %></h1>
	<h2>Albums</h2>
	<ul>
	<% @band.albums.each do |album| %>
	<li> <%= album.name %> (<%= album.year %>) </li>
	  <ol>
		<% album.tracks.each do |track| %>
		  <li> <%= track.name %> </li>
		<% end %>
	  </ol>
	<% end %>
	</ul>
</p>


<%= link_to 'Edit', edit_band_path(@band) %> |
<%= link_to 'Back', bands_path %>
